<div>
  <div>
    <h1>
      Events in Hyde Park
    </h1>
  </div>
</div>

<hr>

<hr>
<div>
  <div>
    <table border="1">
      <tr>

        <th>
          Date
        </th>

        <th>
          Title
        </th>


        <th>
          Location
        </th>

        <th>
          Time
        </th>

        <th>
          Owner
        </th>

        <th>
          Description
        </th>

        <th>
          Image
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_events.each do |an_event| %>
      <tr>

        <td>
          <%= an_event.date_time %>
        </td>

        <td>
          <%= an_event.title %>
        </td>

        <td>
          <%= an_event.location %>
        </td>

        <td>
          <%= an_event.duration %>
        </td>

        <td>
          <%= User.where({:id => an_event.owner_id}).at(0).first_name %>
        </td>

        <td>
          <%= an_event.description %>
        </td>

        <td>
          <img src="<%= an_event.image %>">
        </td>

        <td>
          <%= time_ago_in_words(an_event.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(an_event.updated_at) %> ago
        </td>

        <td>
          <a href="/events/<%= an_event.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
