<div>
  <div>
    <h1>
      <%= User.where({:id => @the_event.owner_id}).at(0).first_name%>'s Event: <%= @the_event.title %> details
    </h1>

    <div>
      <div>
        <a href="/events">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_event/<%= @the_event.id %>">
          Delete event
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Title
      </dt>
      <dd>
        <%= @the_event.title %>
      </dd>

      <dt>
        Date time
      </dt>
      <dd>
        <%= @the_event.date_time %>
      </dd>

      <dt>
        Location
      </dt>
      <dd>
        <%= @the_event.location %>
      </dd>

      <dt>
        Duration
      </dt>
      <dd>
        <%= @the_event.duration %>
      </dd>

      <dt>
        Owner
      </dt>
      <dd>
        <%= @the_event.owner_id %>
      </dd>

      <dt>
        Description
      </dt>
      <dd>
        <%= @the_event.description %>
      </dd>

      <dt>
        Image
      </dt>
      <dd>
        <%= @the_event.image %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_event.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_event.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit event
    </h2>

    <form action="/modify_event/<%= @the_event.id %>"  method="post" >
      <div>
        <label for="title_box">
          Title
        </label>

        <input type="text" id="title_box" name="query_title" value="<%= @the_event.title %>">
      </div>

      <div>
        <label for="date_time_box">
          Date time
        </label>

        <input type="date" id="date_time_box" name="query_date_time" value="<%= @the_event.date_time %>">
      </div>

      <div>
        <label for="location_box">
          Location
        </label>

        <input type="text" id="location_box" name="query_location" value="<%= @the_event.location %>">
      </div>

      <div>
        <label for="duration_box">
          Duration
        </label>

        <input type="text" id="duration_box" name="query_duration" value="<%= @the_event.duration %>">
      </div>


      <div>
        <label for="description_box">
          Description
        </label>

        <textarea id="description_box" name="query_description"><%= @the_event.description %></textarea>
      </div>

      <div>
        <label for="image_box">
          Image
        </label>

        <input type="text" id="image_box" name="query_image" value="<%= @the_event.image %>">
      </div>

      <button>
        Update event
      </button>
    </form>
  </div>
</div>

<hr>

<h2>Comments</h2>

<table>
  <tr>
    <th>User</th>
    <th>Comment</th>
    <th>Posted</th>
  </tr>

<% @the_event.comments.each do |a_comment| %>
  <tr>
    <td>
      <%= User.where({:id => a_comment.commenter_id}).at(0).first_name %>
    </td>

    <td>
      <%= a_comment.body %>
    </td>

    <td>
      <%= a_comment.created_at %>
    </td>
  </tr>
  <% end %>

  <div>
  <div>
    <h2>
      Add a new comment
    </h2>

    <form action="/insert_comment/<%= @the_event.id %>" method="post">
      <div>
        <label for="body_box">
          Body
        </label>

        <textarea id="body_box" name="query_body" rows="3"></textarea>
      </div>

      <button>
        Create comment
      </button>
    </form>
  </div>
</div>
