

<div class = "padding">
  <div>
    <h1>
      <%= User.where({:id => @the_event.owner_id}).at(0).first_name%>'s Event: <%= @the_event.title %> details
    </h1>

    <div>

        <form action ="/events">
          <button class="button"> Go back </button>
        </form>
      </div>
      <p></p>


  <% if User.where({:id => @the_event.owner_id}).at(0) == @current_user %>
      <div>
        <a href="/delete_event/<%= @the_event.id %>" class="btn btn-danger">
          Delete event
        </a>
      </div>
    <p></p>
    <%else%>
    <%end%>

    <dl>
      <dt>
        Title
      </dt>
      <dd>
        <%= @the_event.title %>
      </dd>

      <dt>
        Date time
      </dt>
      <dd>
        <%= @the_event.date_time %>
      </dd>

      <dt>
        Location
      </dt>
      <dd>
        <%= @the_event.location %>
      </dd>

      <dt>
        Duration
      </dt>
      <dd>
        <%= @the_event.duration %>
      </dd>

      <dt>
        Owner
      </dt>
      <dd>
        <%= User.where({:id => @the_event.owner_id}).at(0).first_name %>
      </dd>

      <dt>
        Description
      </dt>
      <dd>
        <%= @the_event.description %>
      </dd>

      <dt>
        Image
      </dt>
      <dd>
        <img src="<%= @the_event.image %>">
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_event.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_event.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<% if User.where({:id => @the_event.owner_id}).at(0) == @current_user %>
<div class= "padding">
  <div>
    <h2>
      Edit event
    </h2>

    <form action="/modify_event/<%= @the_event.id %>"  method="post" >
      <p>
        <label for="title_box">
          Title
        </label>

        <input type="text" id="title_box" name="query_title" value="<%= @the_event.title %>">
      </p>

      <p>
        <label for="date_time_box">
          Date time
        </label>

        <input type="date" id="date_time_box" name="query_date_time" value="<%= @the_event.date_time %>">
      </p>

      <p>
        <label for="location_box">
          Location
        </label>

        <input type="text" id="location_box" name="query_location" value="<%= @the_event.location %>">
      </p>

      <p>
        <label for="duration_box">
          Duration
        </label>

        <input type="text" id="duration_box" name="query_duration" value="<%= @the_event.duration %>">
      </p>


      <p>
        <label for="description_box">
          Description
        </label>

        <textarea id="description_box" name="query_description"><%= @the_event.description %></textarea>
      </p>

      <p>
        <label for="image_box">
          Image
        </label>

        <input type="text" id="image_box" name="query_image" value="<%= @the_event.image %>">
      </p>

      <button class="button">
        Update event
      </button>
    </form>
  </div>
</div>
<% else %>
<% end%>
 <hr>

<div class="row d-flex justify-content-center">
  <div class="col-md-8 col-lg-6">
    <div class="card shadow-0 border" style="background-color: #f0f2f5;">
      <div class="card-body p-4">
        <div class="form-outline mb-4">
          <form action="/insert_comment/<%= @the_event.id %>" method="post">
            <label for="body_box">
              Comments
            </label>
            <textarea id="body_box" name="query_body" name="query_body" class="form-control" placeholder="Type comment..."></textarea>
            <p> </p>
          <button class="button"> + Add a note</button>
          </form>
        </div>
        <% @the_event.comments.each do |a_comment| %>
          <div class="card mb-4">
            <div class="card-body">
              <p><%= a_comment.body %></p>

              <div class="d-flex justify-content-between">
                <div class="d-flex flex-row align-items-center">
                  <p class="small mb-0 ms-2"><%= User.where({:id => a_comment.commenter_id}).at(0).first_name %></p>
                </div>
                <div class="d-flex flex-row align-items-center">
                  <p class="small text-muted mb-0">      <%= a_comment.created_at %></p>
                </div>
              </div>
            </div>
          </div>
        <%end%>
      </div>
    </div>
  </div>
</div>
