<div>
  <div>
    <h1>
      Event #<%= @the_event.id %> details
    </h1>

    <div>
      <div>
        <a href="/events">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_event/<%= @the_event.id %>">
          Delete event
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Title
      </dt>
      <dd>
        <%= @the_event.title %>
      </dd>

      <dt>
        Date time
      </dt>
      <dd>
        <%= @the_event.date_time %>
      </dd>

      <dt>
        Location
      </dt>
      <dd>
        <%= @the_event.location %>
      </dd>

      <dt>
        Duration
      </dt>
      <dd>
        <%= @the_event.duration %>
      </dd>

      <dt>
        Owner
      </dt>
      <dd>
        <%= @the_event.owner_id %>
      </dd>

      <dt>
        Description
      </dt>
      <dd>
        <%= @the_event.description %>
      </dd>

      <dt>
        Image
      </dt>
      <dd>
        <%= @the_event.image %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_event.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_event.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit event
    </h2>

    <form action="/modify_event/<%= @the_event.id %>"  method="post" >
      <div>
        <label for="title_box">
          Title
        </label>

        <input type="text" id="title_box" name="query_title" value="<%= @the_event.title %>">
      </div>

      <div>
        <label for="date_time_box">
          Date time
        </label>

        <input type="date" id="date_time_box" name="query_date_time" value="<%= @the_event.date_time %>">
      </div>

      <div>
        <label for="location_box">
          Location
        </label>

        <input type="text" id="location_box" name="query_location" value="<%= @the_event.location %>">
      </div>

      <div>
        <label for="duration_box">
          Duration
        </label>

        <input type="text" id="duration_box" name="query_duration" value="<%= @the_event.duration %>">
      </div>

      <div>
        <label for="owner_id_box">
          Owner
        </label>

        <input type="text" id="owner_id_box" name="query_owner_id" value="<%= @the_event.owner_id %>">
      </div>

      <div>
        <label for="description_box">
          Description
        </label>

        <textarea id="description_box" name="query_description"><%= @the_event.description %></textarea>
      </div>

      <div>
        <label for="image_box">
          Image
        </label>

        <input type="text" id="image_box" name="query_image" value="<%= @the_event.image %>">
      </div>

      <button>
        Update event
      </button>
    </form>
  </div>
</div>

<hr>
