<!DOCTYPE html>
<html>
  <head>
    <title>Base Rails</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>

   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.css">

  </head>

  <body>
   <ul>
    <% if session.fetch(:user_id) == nil %>
    <li>
    <a href="/user_sign_up">Sign Up</a>
    </li>
    <li>
    <a href="/user_sign_in">Sign In</a>
    </li>
    <% else %>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark mx-auto">
  <a class="navbar-brand" href="/events">Home</a>  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/add_event">Add Event <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/user_sign_out">Sign out</a>
      </li>
    </ul>
  </div>
</nav>

    <% end %>

    <p> <%= notice %> </p>
    <p> <%= alert %> </p>

  </ul>
    <%= yield %>
  </body>
</html>
